body {
    margin: 1%;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .product-item p {
    margin: 0;
    flex: 1;
  }
  
  .btn-primary {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  




